<ion-header>
  <ion-toolbar color="secondary" [class.show-background]="showToolbar">
    <ion-title>Don't let it spread</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen (ionScroll)="onScroll($event)" [scrollEvents]="true">
  <ion-grid no-padding>
    <ion-row card-background-page padding-horizontal>

      <ion-col no-padding col-12 col-md-12 col-lg-6>
        <ion-card class="img-card" background-size text-left
          style="background-image: url(assets/spread.jpg);">
          <!-- Card Title-->
          <div text-wrap card-title class="card-title"></div>
          <!-- Card Subtitle-->
          <div text-wrap card-subtitle class="card-subtitle">Everything you need to know about 2019-nCov</div>
        </ion-card>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-label class="label label-md">



        <!-- <span margin-top="" new-category="" text-uppercase="">NEW OFFER</span> -->



        <h2 class="title">What you should know?</h2>



        <h3 class="sub-title">Coronavirus disease (COVID-19)
        </h3>



      </ion-label>
    </ion-row>

    <ion-row>
      <ion-col no-padding col-12 col-md-12 col-lg-6>
        <h2>How does COVID-19 spread?</h2>

        <p class="para">People can catch COVID-19 from others who have the virus. The disease can spread from person to
          person through small droplets from the nose or mouth which are spread when a person with COVID-19 coughs or
          exhales. These droplets land on objects and surfaces around the person.<br><br> Other people then catch COVID-19 by
          touching these objects or surfaces, then touching their eyes, nose or mouth. People can also catch COVID-19 if
          they breathe in droplets from a person with COVID-19 who coughs out or exhales droplets. This is why it is
          important to stay more than 1 meter (3 feet) away from a person who is sick.
        </p>


        <h2>Can the virus that causes COVID-19 be transmitted through the air?</h2>
        <p class="para">
          Studies to date suggest that the virus that causes COVID-19 is mainly transmitted through contact with respiratory droplets rather than through the air. 
      </p>



      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>